*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 font-size: 62.5%;

 --body-font: 'Barlow', sans-serif;
 --title-font: 'Fraunces', serif;

 --color-red: hsl(7, 99%, 70%);
 --color-yellow: hsl(51, 100%, 49%);
 --color-graphic-design-text: hsl(167, 40%, 24%);
 --color-photography-text: hsl(198, 62%, 26%);
 --color-footer-bg: hsl(168, 34%, 41%);

 --color-neutral-darker: hsl(212, 27%, 19%);
 --color-neutral-dark: hsl(213, 9%, 39%);
 --color-neutral-gray-darker: hsl(232, 10%, 55%);
 --color-neutral-gray-lighter: hsl(210, 4%, 67%);
 --color-neutral-white: hsl(0, 0%, 100%);
}

body {
 font-size: 1.8rem;
 font-family: var(--body-font);
}

.container {
 max-width: 40rem;
 margin-inline: auto;
}

.header {
 background: url(images/mobile/image-header.jpg);
 background-size: cover;
 height: 80vh;
}

.nav {
 padding: 3.5rem 2.5rem;
 display: flex;
 align-items: center;
}

.nav__logo-link {
 margin-right: auto;
}

.logo {
 width: 15rem;
}

.menu-button {
 border: none;
 background: transparent;
 cursor: pointer;
}

.nav__menu {
 position: absolute;
 background: var(--color-neutral-white);
 left: 6.5rem;
 right: 6.5rem;
 top: 9rem;
 text-align: center;
 padding-top: 8rem;
 padding-bottom: 6rem;
 clip-path: polygon(0 3rem, 94% 3rem ,100% 0, 100% 100%, 0 100%);
 opacity: 0;
 transition: .5s;
}

.nav__menu.open {
 opacity: 1;
}


.nav__menu-list {
 list-style: none;
}

.nav__menu-list-item {
 margin-bottom: 3.5rem;
}

.nav__menu-list-item--btn {
 margin-bottom: 0;
}

.nav__link {
  color: var(--color-neutral-gray-darker);
  text-decoration: none;
 font-size: 2rem;
}

.nav__link--btn {
 font-size: 1.6rem;
 padding: 1.5rem 3rem;
 border-radius: 5rem;
 background: var(--color-yellow);
 font-family: var(--title-font);
 text-transform: uppercase;
 font-weight: 900;
 color: var(--color-neutral-darker)
}

.title {
  width: 60%;
  margin-inline: auto;
  text-align: center;
  font-family: var(--title-font);
  color: var(--color-neutral-white);
  text-transform: uppercase;
  margin-top: 5rem;
  letter-spacing: 3px;
  line-height: 1.4;
  font-size: 4rem;
}

.navigator {
  display: block;
  margin-top: 5rem;
  margin-inline: auto;
}

.section-transform,
.section-stand-out {
 display: flex;
 flex-direction: column;
}

.hero {
 height: 30rem;
 order: -1;
}

.hero--transform {
 background: url(images/mobile/image-transform.jpg);
 background-size: cover;
 background-position: center;
}

.hero--stand-out {
 background: url(images/mobile/image-stand-out.jpg);
 background-size: cover;
 background-position: center;
}

.card {
 padding: 6rem 3rem;
 color: var(--color-neutral-gray-darker);
 text-align: center;
}

.card__title {
 font-family: var(--title-font);
 color: var( --color-neutral-darker);
 width: 80%;
 margin-inline: auto;
 text-align: center;
 margin-bottom: 3rem;
 font-size: 3.2rem;
 font-weight: 900;
}

.card__text {
 line-height: 1.8;
 margin-bottom: 3rem;
}

.card__link {
  font-family: var(--title-font);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-neutral-darker);
  position: relative;
  font-weight: 900;
}

.card__link::after {
  content: '';
  display: block;
  height: .8rem;
  width: 13.5rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2
}

.card__link--transform::after {
  background: hsl(51, 100%, 80%)
}

.card__link--stand-out::after {
  background: hsl(7, 99%, 80%)
}

.card__title--service {
 font-size: 2.8rem;
}

.card__text--service {
 font-size: 1.6rem;
 margin-bottom: 0;
}

.card--service {
 padding-top: 42rem;
}

.card--graphic-design {
 background: url(images/mobile/image-graphic-design.jpg);
 background-position: top center;
 background-size: cover;
 background-repeat: no-repeat;
 color: var(--color-graphic-design-text)
}

.card__title--graphic-design {
 color: var(--color-graphic-design-text)
}

.card--photography {
 background: url(images/mobile/image-photography.jpg);
 background-position: top center;
 background-size: cover;
 background-repeat: no-repeat;
 color: var(--color-photography-text)
}

.card__title--photography {
 color: var(--color-photography-text)
}

.section-testimonials {
 padding: 6rem 3rem;
 text-align: center;
 color: var(--color-neutral-gray-lighter)
}

.section__title {
 font-family: var(--title-font);
 text-transform: uppercase;
 font-size: 2rem;
 letter-spacing: 2.5px;
 margin-bottom: 6rem;
}

.testimonial {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 6.5rem;
}

.testimonial__avatar {
 width: 8rem;
 border-radius: 50%;
 margin-bottom: 3.5rem;
}

.testimonial__text {
 margin-bottom: 3.5rem;
 line-height: 1.8;
 color: var(--color-neutral-gray-darker);
}

.testimonial__title {
 order: 2;
 display: flex;
 flex-direction: column;
 font-family: var(--title-font);
 color: var(--color-neutral-darker);
 font-size: 2rem;
}

.testimonial__title--extra {
 margin-top: 1rem;
 font-family: var(--body-font);
 color: var(--color-neutral-gray-lighter);
 font-size: 1.6rem;
}

.section-gallery {
 display: grid;
 grid-template-columns: 1fr 1fr;
 width: 100%;
}

.section-gallery img {
 max-width: 100%;
}

.footer {
 padding: 6rem 3rem 1rem;
 background: #90D4C5;
 text-align: center;
}

.footer__logo {
 width: 16rem;
 margin-bottom: 4rem;
}

.footer__menu {
 list-style: none;
 display: flex;
 justify-content: center;
 margin-bottom: 10rem;
 
}

.footer__menu-item {
  margin-inline: 2rem;
}

.footer__link {
 color: var(--color-footer-bg);
 text-decoration: none;
}

.social__links {
 display: flex;
 justify-content: center;
}

.social__icon {
 margin-inline: 1.5rem;
}



@media(min-width: 1100px){

 
 .container {
  max-width: 100%;
 }
 
 .header {
  background: url(images/desktop/image-header.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
 }
 
 .nav {
  padding: 5rem 5rem;
 }
 
 .logo {
  width: 16rem;
 }
 
 .menu-button {
  display: none;
 }
 
 .nav__menu {
  position: static;
  background: transparent;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  clip-path: none;
  opacity: 1;
  transition: none;
 }
 
 .nav__menu-list {
  list-style: none;
  display: flex;
 }
 
 .nav__menu-list-item {
  margin-bottom: 0;
  margin-left: 4rem;
 }
 
 .nav__link {
   color: var(--color-neutral-white);
  font-size: 1.8rem;
 }
 
 .nav__link--btn {
  font-size: 1.5rem;
  background: var(--color-neutral-white);
  color: var(--color-neutral-darker);
  transition: .2s;
  font-weight: 700;
 }

 .nav__link--btn:hover,
 .nav__link--btn:active {
  background:hsla(0, 0%, 100%, 0.3);
  color: var(--color-neutral-white);
 }
 
 .title {
   width: 100%;
   margin-top: 8rem;
   font-size: 6rem;
 }
 

 .section-transform,
 .section-stand-out {
  display: flex;
  flex-direction: row;
 }
 
 .hero {
  height: auto;
  order: initial;
  width: 50%;
 }
 
 
 .card {
  padding: 10rem;
  text-align: left;
  width: 50%;
 }
 
 .card--stand-out {
  order: 2
 }

 .card__title {
  width: 100%;
  margin-inline: initial;
  text-align: left;
  margin-bottom: 4rem;
  font-size: 3.5rem;
 }
 
 .card__text {
  margin-bottom: 4rem;
 }
 
 .card__link {
   color: var(--color-neutral-darker);
   position: relative;
   font-weight: 900;
 }
 
 .card__link--transform:hover::after,
 .card__link--transform:active::after {
   background: var(--color-yellow);
 }
 
 .card__link--stand-out:hover::after,
 .card__link--stand-out:active::after {
   background: var(--color-red);
 }

 .section-services {
  display: flex;
 }

 
 .card--service {
  padding-top: 70rem;
  text-align: center;
 }

 .card__title--service {
  text-align: center;
 }

 .card__text--service {
  width: 65%;
  margin-inline: auto;
 }

 
 .section-testimonials {
  padding: 10rem;
 }
 
 .section__title {
  font-size: 2.5rem;
  margin-bottom: 8rem;
 }

 .testimonials {
  display: flex;
  gap: 5rem;
  margin-bottom: 10rem;
 }
 
 .testimonial {
  margin-bottom: 0;
 }
 
 
 .section-gallery {
  grid-template-columns: repeat(4, 1fr);
 }
 
 .section-gallery img {
  width: 100%;
 }
 
 .footer {
  padding: 10rem 10rem 2rem;
 }
 
 .footer__logo {
  width: 17rem;
  margin-bottom: 6rem;
 }
 
 .footer__menu {
  margin-bottom: 12rem;
 }
 
 .footer__menu-item {
   margin-inline: 2.5rem;
 }
 
 .footer__link:hover,
 .footer__link:active {
  color: var(--color-neutral-white);
 }
 
 .social__link:hover .social__icon,
 .social__link:active .social__icon{
  filter: brightness(100);
 }
 
 .social__icon {
  margin-inline: 1.8rem;
 }
 
}










